/* Propriété du doccument */
	*{
		transition: .5s;
	}
	body{
		font-family: 'Times New Roman', serif;;
	}
	a{
	    text-decoration: none;
	    color: white;
	}

	a:hover
	{
	    text-decoration: underline;
	    font-size: 105%;
	}
/* ============== Couleur et polices */

	.text-white{
		color: white;
	}

	.display-1 {
	  font-size: calc(1.625rem + 4.5vw);
	  font-weight: 300;
	  line-height: 1.2;
	}
	@media (min-width: 1200px) {
	  .display-1 {
	    font-size: 5rem;
	  }
	}

	.display-2 {
	  font-size: calc(1.575rem + 3.9vw);
	  font-weight: 300;
	  line-height: 1.2;
	}
	@media (min-width: 1200px) {
	  .display-2 {
	    font-size: 4.5rem;
	  }
	}

	.display-3 {
	  font-size: calc(1.525rem + 3.3vw);
	  font-weight: 300;
	  line-height: 1.2;
	}
	@media (min-width: 1200px) {
	  .display-3 {
	    font-size: 4rem;
	  }
	}

	.display-4 {
	  font-size: calc(1.475rem + 2.7vw);
	  font-weight: 300;
	  line-height: 1.2;
	}
	@media (min-width: 1200px) {
	  .display-4 {
	    font-size: 3.5rem;
	  }
	}

	.display-5 {
	  font-size: calc(1.425rem + 2.1vw);
	  font-weight: 300;
	  line-height: 1.2;
	}
	@media (min-width: 1200px) {
	  .display-5 {
	    font-size: 3rem;
	  }
	}

	.display-6 {
	  font-size: calc(1.375rem + 1.5vw);
	  font-weight: 300;
	  line-height: 1.2;
	}
	@media (min-width: 1200px) {
	  .display-6 {
	    font-size: 2.5rem;
	  }
	}
/* ============== Couleurs de fond */

	.bg-DeepBlue{
		background-color: #323071;
	}

	.bg-Eucalyptus{
		background-color: #45D0B5;
	}
	.bg-Persian{
		background-color: #03AB99;
	}
	.bg-Independence{
		background-color: #49576B;
	}
	.bg-asphalt{
		background-color: #34495e;
	}
/* ============== Autre couleurs de fond */
/* ============== Marging / padding */
	.m-0 {
	  margin: 0 !important;
	}

	.m-1 {
	  margin: 0.25rem !important;
	}

	.m-2 {
	  margin: 0.5rem !important;
	}

	.m-3 {
	  margin: 1rem !important;
	}

	.m-4 {
	  margin: 1.5rem !important;
	}

	.m-5 {
	  margin: 3rem !important;
	}

	.m-auto {
	  margin: auto !important;
	}

	.mx-0 {
	  margin-right: 0 !important;
	  margin-left: 0 !important;
	}

	.mx-1 {
	  margin-right: 0.25rem !important;
	  margin-left: 0.25rem !important;
	}

	.mx-2 {
	  margin-right: 0.5rem !important;
	  margin-left: 0.5rem !important;
	}

	.mx-3 {
	  margin-right: 1rem !important;
	  margin-left: 1rem !important;
	}

	.mx-4 {
	  margin-right: 1.5rem !important;
	  margin-left: 1.5rem !important;
	}

	.mx-5 {
	  margin-right: 3rem !important;
	  margin-left: 3rem !important;
	}

	.mx-auto {
	  margin-right: auto !important;
	  margin-left: auto !important;
	}

	.my-0 {
	  margin-top: 0 !important;
	  margin-bottom: 0 !important;
	}

	.my-1 {
	  margin-top: 0.25rem !important;
	  margin-bottom: 0.25rem !important;
	}

	.my-2 {
	  margin-top: 0.5rem !important;
	  margin-bottom: 0.5rem !important;
	}

	.my-3 {
	  margin-top: 1rem !important;
	  margin-bottom: 1rem !important;
	}

	.my-4 {
	  margin-top: 1.5rem !important;
	  margin-bottom: 1.5rem !important;
	}

	.my-5 {
	  margin-top: 3rem !important;
	  margin-bottom: 3rem !important;
	}

	.my-auto {
	  margin-top: auto !important;
	  margin-bottom: auto !important;
	}

	.mt-0 {
	  margin-top: 0 !important;
	}

	.mt-1 {
	  margin-top: 0.25rem !important;
	}

	.mt-2 {
	  margin-top: 0.5rem !important;
	}

	.mt-3 {
	  margin-top: 1rem !important;
	}

	.mt-4 {
	  margin-top: 1.5rem !important;
	}

	.mt-5 {
	  margin-top: 3rem !important;
	}

	.mt-auto {
	  margin-top: auto !important;
	}

	.me-0 {
	  margin-right: 0 !important;
	}

	.me-1 {
	  margin-right: 0.25rem !important;
	}

	.me-2 {
	  margin-right: 0.5rem !important;
	}

	.me-3 {
	  margin-right: 1rem !important;
	}

	.me-4 {
	  margin-right: 1.5rem !important;
	}

	.me-5 {
	  margin-right: 3rem !important;
	}

	.me-auto {
	  margin-right: auto !important;
	}

	.mb-0 {
	  margin-bottom: 0 !important;
	}

	.mb-1 {
	  margin-bottom: 0.25rem !important;
	}

	.mb-2 {
	  margin-bottom: 0.5rem !important;
	}

	.mb-3 {
	  margin-bottom: 1rem !important;
	}

	.mb-4 {
	  margin-bottom: 1.5rem !important;
	}

	.mb-5 {
	  margin-bottom: 3rem !important;
	}

	.mb-auto {
	  margin-bottom: auto !important;
	}

	.ms-0 {
	  margin-left: 0 !important;
	}

	.ms-1 {
	  margin-left: 0.25rem !important;
	}

	.ms-2 {
	  margin-left: 0.5rem !important;
	}

	.ms-3 {
	  margin-left: 1rem !important;
	}

	.ms-4 {
	  margin-left: 1.5rem !important;
	}

	.ms-5 {
	  margin-left: 3rem !important;
	}

	.ms-auto {
	  margin-left: auto !important;
	}

	.p-0 {
	  padding: 0 !important;
	}

	.p-1 {
	  padding: 0.25rem !important;
	}

	.p-2 {
	  padding: 0.5rem !important;
	}

	.p-3 {
	  padding: 1rem !important;
	}

	.p-4 {
	  padding: 1.5rem !important;
	}

	.p-5 {
	  padding: 3rem !important;
	}

	.px-0 {
	  padding-right: 0 !important;
	  padding-left: 0 !important;
	}

	.px-1 {
	  padding-right: 0.25rem !important;
	  padding-left: 0.25rem !important;
	}

	.px-2 {
	  padding-right: 0.5rem !important;
	  padding-left: 0.5rem !important;
	}

	.px-3 {
	  padding-right: 1rem !important;
	  padding-left: 1rem !important;
	}

	.px-4 {
	  padding-right: 1.5rem !important;
	  padding-left: 1.5rem !important;
	}

	.px-5 {
	  padding-right: 3rem !important;
	  padding-left: 3rem !important;
	}

	.py-0 {
	  padding-top: 0 !important;
	  padding-bottom: 0 !important;
	}

	.py-1 {
	  padding-top: 0.25rem !important;
	  padding-bottom: 0.25rem !important;
	}

	.py-2 {
	  padding-top: 0.5rem !important;
	  padding-bottom: 0.5rem !important;
	}

	.py-3 {
	  padding-top: 1rem !important;
	  padding-bottom: 1rem !important;
	}

	.py-4 {
	  padding-top: 1.5rem !important;
	  padding-bottom: 1.5rem !important;
	}

	.py-5 {
	  padding-top: 3rem !important;
	  padding-bottom: 3rem !important;
	}

	.pt-0 {
	  padding-top: 0 !important;
	}

	.pt-1 {
	  padding-top: 0.25rem !important;
	}

	.pt-2 {
	  padding-top: 0.5rem !important;
	}

	.pt-3 {
	  padding-top: 1rem !important;
	}

	.pt-4 {
	  padding-top: 1.5rem !important;
	}

	.pt-5 {
	  padding-top: 3rem !important;
	}

	.pe-0 {
	  padding-right: 0 !important;
	}

	.pe-1 {
	  padding-right: 0.25rem !important;
	}

	.pe-2 {
	  padding-right: 0.5rem !important;
	}

	.pe-3 {
	  padding-right: 1rem !important;
	}

	.pe-4 {
	  padding-right: 1.5rem !important;
	}

	.pe-5 {
	  padding-right: 3rem !important;
	}

	.pb-0 {
	  padding-bottom: 0 !important;
	}

	.pb-1 {
	  padding-bottom: 0.25rem !important;
	}

	.pb-2 {
	  padding-bottom: 0.5rem !important;
	}

	.pb-3 {
	  padding-bottom: 1rem !important;
	}

	.pb-4 {
	  padding-bottom: 1.5rem !important;
	}

	.pb-5 {
	  padding-bottom: 3rem !important;
	}

	.ps-0 {
	  padding-left: 0 !important;
	}

	.ps-1 {
	  padding-left: 0.25rem !important;
	}

	.ps-2 {
	  padding-left: 0.5rem !important;
	}

	.ps-3 {
	  padding-left: 1rem !important;
	}

	.ps-4 {
	  padding-left: 1.5rem !important;
	}

	.ps-5 {
	  padding-left: 3rem !important;
	}

	/**
	 *  Css pour le responsive :
	 *  Liens ver le site 
	 *  https://css-tricks.com/snippets/css/a-guide-to-flexbox/
	 */
/* ============== Text Propriété */
	.text-start {
	  text-align: left !important;
	}

	.text-end {
	  text-align: right !important;
	}

	.text-center {
	  text-align: center !important;
	}

	.text-decoration-none {
	  text-decoration: none !important;
	}

	.text-decoration-underline {
	  text-decoration: underline !important;
	}

	.text-decoration-line-through {
	  text-decoration: line-through !important;
	}

	.text-lowercase {
	  text-transform: lowercase !important;
	}

	.text-uppercase {
	  text-transform: uppercase !important;
	}

	.text-capitalize {
	  text-transform: capitalize !important;
	}

	.text-wrap {
	  white-space: normal !important;
	}

	.text-nowrap {
	  white-space: nowrap !important;
	}
/* ============== font prop */
	.fs-1 {
	  font-size: calc(1.375rem + 1.5vw) !important;
	}

	.fs-2 {
	  font-size: calc(1.325rem + 0.9vw) !important;
	}

	.fs-3 {
	  font-size: calc(1.3rem + 0.6vw) !important;
	}

	.fs-4 {
	  font-size: calc(1.275rem + 0.3vw) !important;
	}

	.fs-5 {
	  font-size: 1.25rem !important;
	}

	.fs-6 {
	  font-size: 1rem !important;
	}

	.fst-italic {
	  font-style: italic !important;
	}

	.fst-normal {
	  font-style: normal !important;
	}

	.fw-light {
	  font-weight: 300 !important;
	}

	.fw-lighter {
	  font-weight: lighter !important;
	}

	.fw-normal {
	  font-weight: 400 !important;
	}

	.fw-bold {
	  font-weight: 700 !important;
	}

	.fw-bolder {
	  font-weight: bolder !important;
	}
/* ============== Fied top / bottom */
	.fixed-top {
	  position: fixed;
	  top: 0;
	  right: 0;
	  left: 0;
	  z-index: 1030;
	}

	.fixed-bottom {
	  position: fixed;
	  right: 0;
	  bottom: 0;
	  left: 0;
	  z-index: 1030;
	}
	.sticky-top {
	  position: -webkit-sticky;
	  position: sticky;
	  top: 0;
	  z-index: 1020;
	}

	@media (min-width: 576px) {
	  .sticky-sm-top {
	    position: -webkit-sticky;
	    position: sticky;
	    top: 0;
	    z-index: 1020;
	  }
	}
	@media (min-width: 768px) {
	  .sticky-md-top {
	    position: -webkit-sticky;
	    position: sticky;
	    top: 0;
	    z-index: 1020;
	  }
	}
	@media (min-width: 992px) {
	  .sticky-lg-top {
	    position: -webkit-sticky;
	    position: sticky;
	    top: 0;
	    z-index: 1020;
	  }
	}
	@media (min-width: 1200px) {
	  .sticky-xl-top {
	    position: -webkit-sticky;
	    position: sticky;
	    top: 0;
	    z-index: 1020;
	  }
	}
	@media (min-width: 1400px) {
	  .sticky-xxl-top {
	    position: -webkit-sticky;
	    position: sticky;
	    top: 0;
	    z-index: 1020;
	  }
	}
/* ============== Display flex */
	.display-flex{
	    display: flex !important ;
	}
/* ==================================================================== Properties for the Parent (flex container) */
/* ============== Alignement des boites */
	.flex-row{
	    flex-direction: row !important ;
	}
	.flex-row-reverse{
	    flex-direction: row-reverse !important ;
	}

	.flex-column{
	    flex-direction: column !important ;
	} 

	.flex-column-reverse{
	    flex-direction: column-reverse !important ;
	}
/* ============== Retourr à la ligne des div  */
	.felx-warp{
	    flex-wrap: wrap !important ;
	}
	.felx-warp-reverse{
	    flex-wrap: wrap-reverse !important ;
	}
/* ============== Alignement des element dans le div */

	.jc-start{
	    justify-content: start !important ;
	}
	.jc-end{
	    justify-content: end !important ;
	}
	.jc-center{
	    justify-content: center !important ;
	}
	.jc-space-between{
	    justify-content: space-between !important ;
	}
	.jc-space-around{
	    justify-content: space-around !important ;
	}
	.jc-space-evenly{
	    justify-content: space-evenly !important ;
	}
/* ============== Alignement des items VERTICAL */
	.al-it-start{
	    align-items: flex-start !important ;
	}
	.al-it-end{
	    align-items: flex-end !important ;
	}
	.al-it-center{
	    align-items: center !important ;
	}
	.al-it-stretch{
	    align-items: stretch !important ;
	}
	.al-it-baseline{
	    align-items: baseline !important ;
	}
/* ============== Alignement des items dans la boite */
	.al-ct-start{
	    align-content: flex-start !important ;
	}
	.al-ct-end{
	    align-content: flex-end !important ;
	}
	.al-ct-center{
	    align-content: center !important ;
	}
	.al-ct-stretch{
	    align-content: stretch !important ;
	}
	.al-ct-space-between{
	    align-content: space-between !important ;
	}
	.al-ct-space-arround{
	    align-content: space-around !important ;
	}
/* ==================================================================== Properties for the Children (flex items) */
	.felx-grow-1{
		flex-grow: 1;
	}
/* ==================================================================== Properties for the images */
	.img-fluid {
	    max-width: 50% !important ;
	    height: auto !important ;   
	}
/* ============== Alignement en fonctions de la largeur de la page */

	.responsive{ 
	    width: 100% !important ;
	    margin-right: auto !important ;
	    margin-left: auto !important ;
	}

	@media (min-width: 576px) {
	  .responsive {
	    max-width: 540px !important ;
	  }
	}
	@media (min-width: 768px) {
	  .responsive {
	    max-width: 720px !important ;
	  }
	}
	@media (min-width: 992px) {
	  .responsive {
	    max-width: 960px !important ;
	  }
	}
	@media (min-width: 1200px) {
	  .responsive {
	    max-width: 1140px !important ;
	  }
	}
	@media (min-width: 1400px) {
	  .responsive {
	    max-width: 1300px !important ;
	  }
	}
	@media (min-width: 1600px) {
	  .responsive {
	    max-width: 1600px !important ;  
	  }
	}